/* Header */
.page__header {
    background-color: hsl(295, 100%, 43%);
}

.page__header__logo {
    font-family: 'Caviar Dreams Family';
    color: hsl(0, 0%, 100%);
    text-shadow: 1px 1px 2px gray;
}
