$font_main : 'Caviar Dreams Family';
$font_sec : 'Source Sans Pro';
$light_theme : hsl(0, 0%, 97%);
$dark_theme : hsl(0, 0%, 25%);
$brand_theme : hsl(295, 100%, 43%);
$font_color_light: hsl(0, 0%, 88%);

/* Fonts */
@font-face {
    font-family: 'Caviar Dreams Family';
    font-style: normal;
    font-weight: 400;
    src:url('../fonts/caviar-dreams-font.woff2') format('woff2'),
        url('../fonts/caviar-dreams.woff') format('woff');
    font-display: swap;
}

/* Page */
.page {
    background-color: hsl(207, 100%, 93%);
    font-family: $font_sec;
}