/* Fonts */
@font-face {
    font-family: 'Caviar Dreams Family';
    font-style: normal;
    font-weight: 400;
    src:url('../fonts/caviar-dreams-font.woff2') format('woff2'),
        url('../fonts/caviar-dreams.woff') format('woff');
    font-display: swap;
}


/* Page */
.page {
    background-color: hsl(207, 100%, 93%);
    font-family: 'Caviar Dreams Family';
}