/*Imports*/

@import "/node_modules/bootstrap/dist/css/bootstrap.min.css";

/* Fonts */
@font-face {
    font-family: 'Caviar Dreams Family';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/caviar-dreams-font.woff2') format('woff2');
    font-display: swap;
}


/* Page */
.page {
    background-color: hsl(207, 100%, 93%);
    font-family: 'Caviar Dreams Family';
}



/* Header */
.page-header {
    background-color: hsl(295, 100%, 43%);
}

.page-header__logo {
    font-family: 'Caviar Dreams Family';
    color: hsl(0, 0%, 100%);
    text-shadow: 1px 1px 2px gray;
}


/* Intro */
.intro {
    background-color: hsl(0, 0%, 100%);
}


/* About me */
.about-me{
    background-color: hsl(0, 0%, 25%);
    color:hsl(0, 0%, 88%)
}


/* Skills */ 
.skills {
    background-color: white;
}

.skills__picture {
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.skills__content__item__header {
    color:hsl(0, 0%, 29%)
}

/* Contacts */

.contacts {
    background-color: hsl(0, 0%, 100%);
}


#vk-logo {
    transition: 0.5s;
    &:hover {
        transform: scale(1.2);
    }

    &:focus {
        transform: scale(1.2);
    }

    #vk-logo-rect {
        transition: 0.5s;
    }

}

