/* Contacts */

.contacts {
    background-color: $light_theme;
}


#vk-logo {
    transition: 0.5s;
    &:hover {
        transform: scale(1.2);
    }

    &:focus {
        transform: scale(1.2);
    }

    #vk-logo-rect {
        transition: 0.5s;
    }

}