/* Fonts */
@font-face {
  font-family: "Caviar Dreams Family";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/caviar-dreams-font.woff2") format("woff2"), url("../fonts/caviar-dreams.woff") format("woff");
  font-display: swap;
}
/* Page */
.page {
  background-color: hsl(207deg, 100%, 93%);
  font-family: "Source Sans Pro";
}
.page ul li {
  color: hsl(295deg, 100%, 43%);
}
.page ul li span {
  color: hsl(0deg, 0%, 25%);
}

/* About me */
.about-me {
  background-color: hsl(0deg, 0%, 97%);
}

.about-me__contacts a {
  color: hsl(246deg, 97%, 72%);
}

.knowledges {
  background-color: hsl(0deg, 0%, 97%);
}

/* Header */
.page__header {
  background-color: hsl(295deg, 100%, 43%);
}

.page__header__logo {
  font-family: "Caviar Dreams Family";
  color: hsl(0deg, 0%, 97%);
  text-shadow: 1px 1px 2px gray;
}